body{
    background-image: url("https://www.nlspacecampus.eu/cache/3/1920x1080/mob-shutterstock-481251031-20210610135721_1920x1080.jpg");
}
.title{
    text-align: center;
    color: white;
}
.gameImg{
    border: 0.3rem solid;
    border-radius: 10%;
    width: 100%;
    height: 100%;
}
.gameBtn{
    margin: 1rem;
    background-color: darkblue;
    color: antiquewhite;
    border: solid 1px antiquewhite;
}
.gameBtn:hover{
    color: darkblue;
    background-color: antiquewhite;
    border-color: darkblue;
}